# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
coverage.txt
profile.out
cpu.out
mem.out

tls-gramecache.dev
tls-gramecache

infraclient
intercom
users
db

test_cert.pem
test_key.pem

disabled
nettls_*
